<!DOCTYPE html>
<html>
    <head>
        {% block title %} <title>Test Ingeniero DevOps</title> {% endblock %}
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="https://elasticbeanstalk-us-west-2-538498948670.s3-us-west-2.amazonaws.com/resources/statics/style.css" />
        <script src="https://elasticbeanstalk-us-west-2-538498948670.s3-us-west-2.amazonaws.com/resources/statics/parse.js"></script> 
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>