{% extends 'consume_ep_app/base.html' %}

{% block body %}



<h1>Consulta Api.</h1>
<form>
<label for="consulta">Consulta</label>
<button type="button" onclick="consulta_api()">Revisar Seguro</button>
</form>

<br>
<div id ="seguro"></div>

{% endblock %}